@page
@model IndexModel
@{
    ViewData["Title"] = "Начална страница";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли</h1>
    <p>Научете за <a href="https://learn.microsoft.com/aspnet/core">изграждането на уеб приложения с ASP.NET Core.</a>.</p>
</div>
