@page
@model PrivacyModel
@{
    ViewData["Title"] = "Политика за поверителност";
}
<h1>@ViewData["Title"]</h1>

<p>При използване на сайта можем да събираме следната информация: Име, адрес, телефонен номер и имейл.</p>
<p>Вашите данни могат да бъдат използвани за: предоставяне на услугите предлагани от сайта, комуникация с вас относно запитвания или услуги и подобряване на качеството на нашето съдържание и услуги.</p>