@page
@model Web.Pages.Travels.DetailsModel

@{
    ViewData["Title"] = "Детайли";
}

<h1>Детайли</h1>

<div>
    <h4>Пътувания</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Дестинация</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.Destination)
        </dd>
        <dt class="col-sm-2">Клиент</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Travel.Customer.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Travel.Id">Редактиране</a> 
    <a asp-page="./Index">Обратно</a>
</div>
